.container-fluid.px-0
  nav.navbar.navbar-dark.bg-dark
    .navbar-brand.d-flex
      div Webtool Cropper
      open-image.ml-1.mb-0(@load="loadImg") 上傳
  .container-fluid.px-0
    button.btn.btn-primary(@click="crop") 裁切
    b-card(no-body)
      b-card-body
        .row
          .col-6
            img.mw-100(ref="image" src="./lena.png")
          .col-6.d-flex.justify-content-center
            img.mw-100.m-auto(v-if="outputUrl" :src="outputUrl")